html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(black 30%, white 30%, transparent 30%), url("../images/universe.jpg")  ;
    background-size: cover;
    background-position: center;
}
divs {
    width: 50vmin;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border-style: solid;
    border-width: 10px;
    border-color: rgba(255, 255, 255, 1);
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}